<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>

    <hr>
    
    <div class="row">
      <div class="col-md-4">
        <%= image_tag 'profile.jpg', width: 300, alt: 'Profile image' %>
      </div>
      <div class="col-md-7 offset-md-1">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, quod, molestiae amet rem cumque illum impedit sequi adipisci vel consectetur est tempore nulla accusamus eos totam saepe inventore consequatur accusantium.</p>
      
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, vitae, illo, omnis id quisquam quidem at rem aliquam officia iusto alias itaque neque tempore perspiciatis quae magnam reprehenderit quam veniam!</p>
      </div>
    </div>
  </div>
</div>